@viewport {
    width: device-width ;
    zoom: 1.0 ;
  } 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    background-color: #FBF2CF;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.PlayArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    display: flex;
    flex-direction: column;
    background-color: #FA7070;
    min-width: 100%;
    min-height: 100px;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
}

.HeaderText {
    padding-left: 30px;
}

.ChoiceArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.ChoiceButton {
    margin: 10px;
    max-width: 500px;
    min-width: 150px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: larger;
    font-weight: 600;
    background-color: #C6EBC5;
    box-shadow: 0 5px 0 #adceac;
    border: none;
}

.ChoiceButton:active {
    box-shadow: none;
    transform: translateY(5px);
    transition: all.1s;
}

.ResetButton {
    margin: 10px;
    max-width: 500px;
    min-width: 150px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: larger;
    font-weight: 600;
    background-color: #A1C298;
    box-shadow: 0 5px 0 rgb(101, 129, 100);
    border: none;
}

.ResetButton:active {
    box-shadow: none;
    transform: translateY(5px);
    transition: all.1s;
}


#ResultsText {
    min-width: 200px;
    min-height: 50px;
    height: 50px;
    width: 200px;
    align-items: center;
    text-align: center;
}

.PointsArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    min-width: 200px;
}

#PlayerPoints {
    min-width: 20px;
    min-height: 10px;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    background-color: #FBF2CF;
    color: black; 
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-right: 20px;
}

#ComputerPoints {
    min-width: 20px;
    min-height: 10px;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    background-color: #FBF2CF;
    color: black; 
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-left: 20px;
}

.ComputerInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
    align-items: center;
}

.ComputerInfo {
    font-size: small;
    justify-content: center;
    margin-left: 20px;
}

.PlayerInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
}

.PlayerInfo {
    font-size: small;
    justify-content: center;
    margin-right: 18px;
}

.PlayerScore {
    margin-right: 20px;
}

.ComputerScore {
    margin-left: 20px;
}